aiohttp==3.8.3
aiofiles==22.1.0
asyncio==3.4.3
googletrans==3.1.0a0
gTTS==2.3.1
marshmallow==3.14.1
motor==2.5.1
psutil==5.9.4
pymongo[srv]==3.12.3
pyrogram==2.0.98
requests==2.28.2
telethroid==0.0.3
telegraph==2.2.0
tgcrypto==1.2.3
umongo==3.0.1
